# Backend
/app/admin/
/app/dashboard/
/app/api/


# Environment
.env
.env.local
.env.development
.env.production

# Build
.next
out
build
dist

# Dependencies
node_modules

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts